In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import time
import sklearn

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Binarizer
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn import preprocessing

In [3]:
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn import tree

In [4]:
def model_acc_time(X_train, X_test, y_train, y_test, model):
    # creates a model based on training data and returns the accuracy on the held out test set and the time it took to train the model
    # data should be pre processed already
    
    # records the time and accuracy for each model, as well as saving the model itself
    total_time = []
    accuracy = []
    models = []

    # manual 5 fold on test data to select the best model
    for i in range(5):
        # splitting the training data to train and evaluate the model
        kfX_train, kfX_test, kfy_train, kfy_test = train_test_split(
    X_train, y_train, test_size=0.2,shuffle=True)

        # creates a new unfitted model with the inputted parameters
        curModel = sklearn.base.clone(model)


        # times the training of the model and calcualtes the accuracy on the validation set
        t1 = time.time()
        curModel.fit(kfX_train,kfy_train)
        accuracy.append((curModel.predict(kfX_test)==np.array(kfy_test)[0]).mean())
        t2 = time.time()
        models.append(curModel)
        total_time.append(t2-t1)

    # selects the model with the highest accuracy on the validation set and calcuates the accuracy on the held out set
    best_index = accuracy.index(max(accuracy))
    t = total_time[best_index]
    most_acc_model = models[best_index]
    acc = (most_acc_model.predict(X_test)==np.array(y_test)[0]).mean()*100

    return "Accuracy: {0:.2f}% || Time to Train: {1:.3f} seconds".format(acc, t)

In [6]:
grades = pd.read_csv("data/grades.csv")
grades

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [12]:
grades["goodgrades"] = grades.G3 > 11
grades = grades.drop(["G1","G2","G3"],axis=1)
grades

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,goodgrades
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,4,False
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,2,False
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,6,True
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,0,True
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,yes,no,5,4,2,1,2,5,4,False
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,yes,no,4,3,4,1,1,1,4,True
646,MS,F,18,U,GT3,T,1,1,other,other,...,no,no,1,1,1,1,1,5,6,False
647,MS,M,17,U,LE3,T,3,1,services,services,...,yes,no,2,4,5,3,4,2,6,False
648,MS,M,18,R,LE3,T,3,2,services,other,...,yes,no,4,4,1,3,4,5,4,False

In [143]:
grades.to_csv("gradesf.csv")

In [24]:
grades.goodgrades.value_counts(normalize=True)

True     0.53621
False    0.46379
Name: goodgrades, dtype: float64

In [38]:
#Split Data into training and testing
#x = grades.drop("goodgrades", axis=1)
x = grades[["address","famsize","Pstatus","Mjob","Fjob"]]
y = grades[["goodgrades"]]

In [39]:
# label encoding the data
le = preprocessing.LabelEncoder()
x = x.apply(le.fit_transform)

# one hot encoding the data
enc1 = preprocessing.OneHotEncoder()
enc1.fit(x)
x = enc1.transform(x).toarray()

In [40]:
#Split Data into training and testing
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [53]:
# DT classifier, using entropy and a max depth of 15
DT = tree.DecisionTreeClassifier(criterion="entropy",max_depth=15)

# using the function above, we can determine the accuracy and training time of a deciosion tree model
model_acc_time(X_train, X_test, y_train, y_test, DT)

'Accuracy: 65.38% || Time to Train: 0.002 seconds'

In [65]:
# MLP Classifier 
MLP = MLPClassifier(max_iter=300, hidden_layer_sizes=(3,3), solver="sgd")

# calculating the accuracy and training time of an MLP Classifier
model_acc_time(X_train, X_test, y_train, y_test, MLP)

'Accuracy: 71.54% || Time to Train: 0.065 seconds'

In [75]:
# Random Forest
RF = RandomForestClassifier(n_estimators=200, max_depth=15,criterion="entropy")

# calculating the accuracy and training time of the random forest Classifier
model_acc_time(X_train, X_test, y_train, y_test, RF)

'Accuracy: 50.77% || Time to Train: 0.206 seconds'

In [82]:
# Extra Trees Classifier
ET = ExtraTreesClassifier(n_estimators=100, max_depth=14,criterion="entropy")

# calculating the accuracy and training time of the extra trees Classifier
model_acc_time(X_train, X_test, y_train, y_test, ET)

'Accuracy: 58.46% || Time to Train: 0.081 seconds'

In [134]:
# SGD Classifier
SGD = SGDClassifier(loss="hinge", max_iter=500)

# calculating the accuracy and training time of the SGD Classifier
model_acc_time(X_train, X_test, y_train, y_test, SGD)

'Accuracy: 37.69% || Time to Train: 0.001 seconds'

In [136]:
# Gaussian Naive Bayes
GNB = GaussianNB()
# calculating the accuracy and training time of the Gaussian Naive Bayes
model_acc_time(X_train, X_test, y_train, y_test, GNB)

'Accuracy: 73.08% || Time to Train: 0.001 seconds'

In [142]:
# SVM
SVM = svm.SVC(kernel="sigmoid")

# calculating the accuracy and training time of the SVM
model_acc_time(X_train, X_test, y_train, y_test, SVM)

'Accuracy: 36.92% || Time to Train: 0.005 seconds'